
  /* Userlogged.css */
.user-logged-dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 5px 0;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    display: block;
    padding: 6px 12px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #f1f1f1;
  }
  .button1 {
    color: white;
    padding: 6px;
    font-family: Montserrat;
    cursor: pointer;
    background-color: green;
    margin-right: 10px;
    border-radius: 4px;
  }
  